# Working with API

In [101]:
import pandas as pd
import requests

url = "https://covid-193.p.rapidapi.com/statistics"

headers = {
	"x-rapidapi-key": "9e4ed3f522msh3e6df852013819ep1c63ccjsn55e40ec389ee",
	"x-rapidapi-host": "covid-193.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

response_df=pd.DataFrame(response.json()['response'])

In [102]:
df=response_df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   continent   236 non-null    object
 1   country     238 non-null    object
 2   population  229 non-null    float64
 3   cases       238 non-null    object
 4   deaths      238 non-null    object
 5   tests       238 non-null    object
 6   day         238 non-null    object
 7   time        238 non-null    object
dtypes: float64(1), object(7)
memory usage: 15.0+ KB

In [114]:
df['tests'][27]

{'1M_pop': '10988', 'total': 191341}

In [115]:
total=[]
death=[]
tests=[]
recovered=[]
for i,j in df.iterrows():
    total.append(j['cases']['total'])
    death.append(j['deaths']['total'])
    recovered.append(j['cases']['recovered'])
    tests.append(j['tests']['total'])
    
df['Cases'] = total
df['Recovered'] = recovered
df['Deaths'] = death
df['Tests'] = tests

In [120]:
df=df.set_index('country')

In [122]:
df=df.drop(columns=['cases','tests','deaths'])

In [123]:
df.to_csv('covid_19.csv')

In [124]:
df

,continent,population,day,time,Cases,Recovered,Deaths,Tests
country,,,,,,,,
Saint-Helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,NaN,NaN
Falkland-Islands,South-America,3539.0,2024-06-30,2024-06-30T16:15:16+00:00,1930,1930.0,NaN,8632.0
Montserrat,North-America,4965.0,2024-06-30,2024-06-30T16:15:16+00:00,1403,1376.0,8.0,17762.0
Diamond-Princess,None,NaN,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,NaN
Vatican-City,Europe,799.0,2024-06-30,2024-06-30T16:15:16+00:00,29,29.0,NaN,NaN
...,...,...,...,...,...,...,...,...
Argentina,South-America,46010234.0,2024-06-30,2024-06-30T16:15:10+00:00,10128845,9997258.0,130841.0,35716069.0
Netherlands,Europe,17211447.0,2024-06-30,2024-06-30T16:15:10+00:00,8635786,8612599.0,22992.0,25984435.0
Mexico,North-America,131562772.0,2024-06-30,2024-06-30T16:15:10+00:00,7702809,6899865.0,334958.0,20013810.0
Iran,Asia,86022837.0,2024-06-30,2024-06-30T16:15:10+00:00,7627186,NaN,146811.0,57320267.0
Indonesia,Asia,279134505.0,2024-06-30,2024-06-30T16:15:10+00:00,6829221,6647104.0,162063.0,114158919.0