# Importing Data From CSV Files


## 1. Importing Pandas

In [1]:
import pandas as pd

## 2. Opening a local CSV File

In [2]:
df= pd.read_csv('data.csv')

In [25]:
df.head()  #It shows the first few rows of dataset

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [28]:
df.info() #Provides information of parameters in the dataset linke their data types and no of values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [33]:
df=df.iloc[:,:32]
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

## 3.Opening a CSV File from an URL

In [4]:
import requests
from io import StringIO

url="https://drive.google.com/uc?id=1zO8ekHWx9U7mrbx_0Hoxxu6od7uxJqWw&export=download"
headers= {"User-Agent": "Mozilla/5.0 (Machintosh; Intel MAC OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req= requests.get(url, headers=headers)
data= StringIO(req.text)

pd.read_csv(data)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

## 4.'sep' Parameter
Specifying the separtor in the dataset-('\t',';',etc.). 
We can also specify column names by passing names list in the names parameter.
#pd.read_csv("a.csv",names=['Column1','Column2'])

In [5]:
dft= pd.read_csv('kids_teen.tsv', sep='\t')

In [6]:
dft

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,BIRDS,-,The bat parrot probably got its name from slee...,upside-down,1987-02-16,1987 Teen Tournament quarterfinal game 1.
1,1,200,no,BIRDS,-,"Too ""lei""zy to migrate, the geese in this trop...",Hawaii,1987-02-16,1987 Teen Tournament quarterfinal game 1.
2,1,300,no,BIRDS,-,A bird waterproofs its feathers with oil from ...,its tail,1987-02-16,1987 Teen Tournament quarterfinal game 1.
3,1,100,no,THE LIBRARY,-,Defacing books or shouting or throwing spitbal...,three activities prohibited in the library,1987-02-16,1987 Teen Tournament quarterfinal game 1.
4,1,200,no,THE LIBRARY,-,"On most reference books in your local library,...",R,1987-02-16,1987 Teen Tournament quarterfinal game 1.
...,...,...,...,...,...,...,...,...,...
20795,2,800,no,DROP A LETTER,-,"Drop the ""L"" from a type of bedspread to get t...",quit,2019-06-28,2019 Teen Tournament final game 2.
20796,2,1200,no,DROP A LETTER,-,"Drop the ""T"" from intense fear to get this mis...",error,2019-06-28,2019 Teen Tournament final game 2.
20797,2,1600,no,DROP A LETTER,-,"A synonym for ""vision"" drops its ""T"" & becomes...",a sigh,2019-06-28,2019 Teen Tournament final game 2.
20798,2,2000,no,DROP A LETTER,-,"Drop the ""F"" from a word meaning very cold & i...",rigid,2019-06-28,2019 Teen Tournament final game 2.
20799,3,0,no,PLACES OF LORE,-,The first mention of this locale is in Chretie...,Camelot,2019-06-28,2019 Teen Tournament final game 2.

## 5. 'index_col' Parameter
We can make a column the index column throught this parameter

In [35]:
pd.read_csv('customers-100.csv',index_col='Index')

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
Index,,,,,,,,,,,
1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...
96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

## 6.'header' Parameter
If the column names is not being recognised and added to data values, we can specify header parameter as (header=1) to take the first row of values as the column names.

## 7.'usecols' Parameter
We can specify the required columns to be included in the dataset by specifying the columns names that are to be extracted.

In [15]:
pd.read_csv('customers-100.csv',index_col='Index',usecols=['Index','Customer Id','First Name','Phone 1'])

           Customer Id First Name                 Phone 1
Index
1      DD37Cf93aecA6Dc     Sheryl            229.077.5154
2      1Ef7b82A4CAAD10    Preston              5153435776
3      6F94879bDAfE5a6        Roy         +1-539-402-0259
4      5Cef8BFA16c5e3c      Linda  001-808-617-6467x12895
5      053d585Ab6b3159     Joanna  001-234-203-0635x76146
...                ...        ...                     ...
96     cb8E23e48d22Eae       Karl     (188)169-1674x58692
97     CeD220bdAaCfaDf       Lynn         +1-846-706-2218
98     28CDbC0dFe4b1Db       Fred    +1-753-067-8419x7170
99     c23d1D9EE8DEB0A     Yvonne           (530)311-9786
100    2354a0E336A91A1   Clarence           (753)813-6941

[100 rows x 3 columns]

## 8.'skiprows'/'nrows'
We can specify which rows to skip y skiprows and limit no of rows by nrows

In [24]:
pd.read_csv('customers-100.csv',index_col='Index', nrows=10, skiprows=[1,3,5])

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
Index,,,,,,,,,,,
2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/
11,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey,637-854-0256x825,114.336.0784x788,kirksalas@webb.com,2021-10-20,https://simmons-hurley.com/
12,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam,(041)737-3846,+1-556-888-3485x42608,mark42@robbins.com,2020-11-29,http://www.douglas.net/
13,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo,001-949-844-8787,(855)713-8773,alex56@walls.org,2021-12-02,http://www.beck.com/

## 9.'encoding' Parameter
Some datasets are not utf-8 encoded and might throw errors. They either need to be encoded to utf-8 or their encoding values need to be found out and specified.

## 10.Skip Bad Lines
Often if there are abruptly more values in a row than the number of columns, an error occurs. It can be fixed by making the 'error_bad_lines' parameter to False.

## 11.'dtypes' Parameter
It is used to change data types of certain parameters

In [26]:
#pd.read_csv('a.csv',dtypes={'target_column_name':data_type})

## 12.Handling Dates
Dates are often handled as objects in python. We need to speccify the 'parse_date' parameter to read the columns as dates.

In [36]:
pd.read_csv('customers-100.csv',index_col='Index').info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 1 to 100
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer Id        100 non-null    object
 1   First Name         100 non-null    object
 2   Last Name          100 non-null    object
 3   Company            100 non-null    object
 4   City               100 non-null    object
 5   Country            100 non-null    object
 6   Phone 1            100 non-null    object
 7   Phone 2            100 non-null    object
 8   Email              100 non-null    object
 9   Subscription Date  100 non-null    object
 10  Website            100 non-null    object
dtypes: object(11)
memory usage: 9.4+ KB

In [38]:
pd.read_csv('customers-100.csv',index_col='Index',parse_dates=['Subscription Date']).info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 1 to 100
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer Id        100 non-null    object
 1   First Name         100 non-null    object
 2   Last Name          100 non-null    object
 3   Company            100 non-null    object
 4   City               100 non-null    object
 5   Country            100 non-null    object
 6   Phone 1            100 non-null    object
 7   Phone 2            100 non-null    object
 8   Email              100 non-null    object
 9   Subscription Date  100 non-null    datetime64[ns]
 10  Website            100 non-null    object
dtypes: datetime64[ns](1), object(10)
memory usage: 9.4+ KB

## 13.Convertors
To convert values present in the dataset column to different set of values according to a function.

In [41]:
def rename(name):
    if name=="BIRDS":
        return "B"
    elif name=="THE LIBRARY":
        return "TL"
    else:
        return name

pd.read_csv('kids_teen.tsv', sep='\t', converters={'category':rename})

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,B,-,The bat parrot probably got its name from slee...,upside-down,1987-02-16,1987 Teen Tournament quarterfinal game 1.
1,1,200,no,B,-,"Too ""lei""zy to migrate, the geese in this trop...",Hawaii,1987-02-16,1987 Teen Tournament quarterfinal game 1.
2,1,300,no,B,-,A bird waterproofs its feathers with oil from ...,its tail,1987-02-16,1987 Teen Tournament quarterfinal game 1.
3,1,100,no,TL,-,Defacing books or shouting or throwing spitbal...,three activities prohibited in the library,1987-02-16,1987 Teen Tournament quarterfinal game 1.
4,1,200,no,TL,-,"On most reference books in your local library,...",R,1987-02-16,1987 Teen Tournament quarterfinal game 1.
...,...,...,...,...,...,...,...,...,...
20795,2,800,no,DROP A LETTER,-,"Drop the ""L"" from a type of bedspread to get t...",quit,2019-06-28,2019 Teen Tournament final game 2.
20796,2,1200,no,DROP A LETTER,-,"Drop the ""T"" from intense fear to get this mis...",error,2019-06-28,2019 Teen Tournament final game 2.
20797,2,1600,no,DROP A LETTER,-,"A synonym for ""vision"" drops its ""T"" & becomes...",a sigh,2019-06-28,2019 Teen Tournament final game 2.
20798,2,2000,no,DROP A LETTER,-,"Drop the ""F"" from a word meaning very cold & i...",rigid,2019-06-28,2019 Teen Tournament final game 2.
20799,3,0,no,PLACES OF LORE,-,The first mention of this locale is in Chretie...,Camelot,2019-06-28,2019 Teen Tournament final game 2.

## 14.'na_values' Parameter
Data inputs like '-' also indicate missing values but are often not identified and therefore need to be exclusively specifies using 'na_values' parameters.

In [45]:
pd.read_csv('kids_teen.tsv', sep='\t',na_values=['-']).head()

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,BIRDS,NaN,The bat parrot probably got its name from slee...,upside-down,1987-02-16,1987 Teen Tournament quarterfinal game 1.
1,1,200,no,BIRDS,NaN,"Too ""lei""zy to migrate, the geese in this trop...",Hawaii,1987-02-16,1987 Teen Tournament quarterfinal game 1.
2,1,300,no,BIRDS,NaN,A bird waterproofs its feathers with oil from ...,its tail,1987-02-16,1987 Teen Tournament quarterfinal game 1.
3,1,100,no,THE LIBRARY,NaN,Defacing books or shouting or throwing spitbal...,three activities prohibited in the library,1987-02-16,1987 Teen Tournament quarterfinal game 1.
4,1,200,no,THE LIBRARY,NaN,"On most reference books in your local library,...",R,1987-02-16,1987 Teen Tournament quarterfinal game 1.

## 15.Loading huge dataset in chunks
If the dataset is very large and cannot be processed as a whole, we load the dataset in chunks and perform operations using loops.

In [47]:
ch=pd.read_csv('kids_teen.tsv', sep='\t',chunksize=6000)

In [50]:
for chunks in ch:
    print(chunks.size)

54000
54000
25200

# To Be Updated...